/* --------------------------------  GENERAL  -------------------------------- */
*, body, form, div, p { margin:0px; padding:0px; border:0px; }
body { background:#ffffff; font-family:'Assistant',sans-serif !important; direction:rtl; }
.link { display:block; background:transparent; text-decoration:none; }
.absolute { position:absolute; }
.rtl { text-align:right; direction:rtl; }
.submit { cursor: pointer; }
.transparent { background-color:transparent; }
.clearfix { clear:both; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance:none; margin:0; }
iframe:not(#g-map) { width:1px !important; height:1px !important; position:absolute !important; top:0 !important; left:0 !important; opacity:0 !important; border:none !important; outline:none !important; }



#sidebar h4 {
    position: absolute;
    color: #FFF;
    top: 13px;
    width: 515px;
    left: 61px;
    font-size: 41px !important;
    line-height: 52px;
    text-align: center;
}

#sidebar h4 > span{
    color: #FFFFFF;
}




/* --------------------------------  CONTENT  -------------------------------- */
#page {
    width: 640px;
    height: 2175px;
    position: relative;
    z-index: 1;
    margin: 0 auto 0;
    overflow: hidden;
    font-family: 'Assistant',sans-serif !important;
}

#page .mainbox {
    position: absolute;
    width: 640px;
    height: 1109px;
    right: 0vw;
    background: url(../images/main.png) no-repeat;
    background-size: 100%;
    z-index: 3;
}

#page .slidebox{
}

a.click2call {
    position: absolute;
    width: 486px;
    height: 130px;
    top: 939px;
    left: 78px;
    z-index: 51;
}

#page .slidebox .slide {
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 506px;
    height: 196px;
    top: 230px;
    right: 117px;
    z-index: 0;
}

#page .slidebox .slide1{
  background-image: url(../images/pic1.jpg);
  opacity: 1;
  display: block;
}

#page .slidebox .slide2{
  background-image: url(../images/pic2.jpg);
  opacity: 0;
  display: none;
}

#page .slidebox .slide3{
  background-image: url(../images/pic3.jpg);
  opacity: 0;
  display: none;
}

#page .slidebox .slide4{
  background-image: url(../images/pic4.jpg);
  opacity: 0;
  display: none;
}

#page .slidebox .slide5{
  background-image: url(../images/pic5.jpg);
  opacity: 0;
  display: none;
}

#page .slidebox .slide6{
  background-image: url(../images/pic6.jpg);
  opacity: 0;
  display: none;
}

#page .slidebox .slide7{
  background-image: url(../images/pic7.jpg);
  opacity: 0;
  display: none;
}

#ref { width:640px; height:1600px; position:absolute; top:0; left:0; background:url('../../_design/Mobile_v2.jpg') no-repeat; opacity:.5; }

#g-map { width:580px; height:320px; position:absolute; bottom:30px; left:30px; }
#slider-container.slider-wrapper {
    width: 640px;
    height: 609px;
    background: #1c1a1b;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
#page #content { width:640px; height:1530px; position:absolute; top:0px; right:0px; z-index:15; }

#page #content h1, #page #content h2, #page #content h3, #page #content small, #page #content h4 { font-size:1em; font-weight:400; font-style:normal; color:transparent; text-align:right; line-height:1em; letter-spacing:0px; position:absolute; }
#page #content h1 {
	width:377px; height:410px;
	/*background:url('../images/title.png') no-repeat; */
	top:45px; left:5px; direction:ltr;
}
#page #content h2 {
    width: 305px;
    height: 309px;
    background: url(../images/txt-1.jpg) no-repeat;
    top: 50px;
    background-size: 305px;
    right: 0px;
}
#page #content h3 {
    width: 263px;
    height: 25px;
    /*background: url(../images/txt-9.png) no-repeat;*/
    top: 171px;
    right: 20px;
}
#page #content h4 {
    width: 259px;
    height: 123px;
    background: url(../images/txt-10.png) no-repeat;
    top: 241px;
    right: 13px;
}

#page #content p {
    width: 549px;
    font-size: 31px;
    font-weight: 800;
    font-style: normal;
    color: #ea1d23;
    text-align: right;
    line-height: 30px;
    letter-spacing: -.5px;
    position: absolute;
    top: 1725px;
    right: 20px;
}

#page #content ul {
    width: 615px;
    position: absolute;
    top: 1832px;
    right: 20px;
}

#page #content ul li {
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    color: #ed1c24;
    text-align: right;
    line-height: 1.15em;
    letter-spacing: -.3px;
    padding: 5px 30px 2px 60px;
    position: relative;
}

#page #content ul li:after {
    content: '';
    width: 15px;
    height: 6px;
    position: absolute;
    top: 16px;
    right: 3px;
    background: #ea1c22;
}

#page #sidebar #c2c_btn {
    width: 524px;
    height: 80px;
    position: absolute;
    top: 103px;
    left: 57px;
    background: #da2127;
    cursor: pointer;
    transition: .4s;
    z-index: 54;
}

#page #sidebar #c2c_btn h6 {
    width: 508px;
    height: 60px;
    display: block;
    position: absolute;
    top: 5px;
    right: 14px;
    background: url(../images/c2c-btn.png) 59px 7px no-repeat;
    font-size: 2.5em;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    text-align: right;
    line-height: 0.8em;
    letter-spacing: .1px;
    padding: 15px 17px 0px;
}
#page #sidebar #c2c_btn:hover, #page #sidebar #c2c_btn:active { background:#000000; }
.logo {
    width: 176px;
    height: 140px;
    position: absolute;
    top: 358px;
    right: 27px;
}
/* --------------------------------  FORM  -------------------------------- */
#page #sidebar {
    width: 640px;
    height: 600px;
    background: #ed1c24;
    position: absolute;
    top: 1084px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    z-index: 50;
}

#page form {
    width: 580px;
    height: 590px;
    position: absolute;
    top: 0px;
    left: 18px;
    z-index: 51;
    border: 0;
    padding: 10px;
}

#page form h3 { font-size:2.2em; font-weight:400; font-style:normal; color:#ffffff; text-align:center; line-height:1em; letter-spacing:.1px; position:absolute; top:120px; right:40px; }

#page #preloader {
    width: 640px;
    height: 680px;
    position: absolute;
    top: 1083px;
    left: -8px;
    display: none;
    opacity: 0;
    z-index: 52;
}
#page #preloader h6 { font-size:2.9em; font-weight:600; font-style:normal; color:#ffffff; text-align:center; line-height:1em; letter-spacing:.1px; position:absolute; top:155px; right:35px; }

#page #thanks { width:640px; height:680px; position:absolute; top:0px; left:0px; z-index:53; }
#page #thanks h6 { font-size:3.3em; font-weight:700; font-style:normal; color:#ffffff; text-align:right; line-height:.8em; letter-spacing:.1px; position:absolute; top:200px; right:142px; }
#page #thanks h6 span { font-size:.7em; font-weight:400; }

.form-input {
	width: 525px;
    height: 60px;
    position: absolute;
    right: 39px;
}
.form-checkbox {
    width: 521px;
    height: 58px;
    position: absolute;
    top: 523px;
    right: 46px;
}
.form-input label { font-size:1.9em; font-weight:700; font-style:normal; color:#ffffff; text-align:right; line-height:1em; letter-spacing:.1px; position:absolute; top:4px; right:2px; }
.form-checkbox label.small { font-size:1.45em; font-weight:600; font-style:normal; color:#ffffff; text-align:right; line-height:1.1em; letter-spacing:.1px; position:absolute; top:0px; right:32px; }
.form-input input {
    /* background: #ffffff; */
    position: absolute;
    border: none;
    color: #FFF;
    font-size: 1.8em;
    font-family: 'Assistant',sans-serif !important;
    letter-spacing: -0.02em;
    border: 2px solid #ffffff;
}
.form-input select {
	border:none;
	color: #FFF;
	font-size:1.8em;
	font-family:'Assistant',sans-serif !important;
	letter-spacing:-0.02em;
}
#name-field { top:100px; }
#prefix-select {
    width: 138px;
    height: 44px;
    top: 2px;
    left: 0px;
    border-right: 1px solid #FFF;
}
#phone-field { top:190px; }
#email-field { top:277px; }

#name-field label { background-position:left top; }
#phone-field label { background-position:left center; }
#email-field label { background-position:left bottom; }

#fullname { width:505px; height:52px; top:0px; left:0px; direction:rtl; text-align:right; padding:0px 8px 2px; }
#prefix { width:100%; height:100%; direction:rtl; text-align:right; padding:0 7px 0 7px; }
#phone { width:365px; height:52px; top:0px; left:0px; direction:ltr; text-align:left; padding:0 8px 0 150px; }
#prefix option { background:#ffffff; color:#000000; text-align:left; direction:ltr; font-size:16px; padding:2px 5px 1px 8px; border:none; outline:none; }
#email { width:505px; height:52px; top:0px; left:0px; direction:ltr; text-align:left; padding:0px 8px 2px; }
#newsletter { width:12px; height:12px; position:absolute; top:3px; right:1px; border:none; }
input[type=checkbox] {
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
    left: 4px;
}

.chk {
    color: #fff;
    font-size: 23px;
    margin-right: 1.3vw;
    width: 569px;
    position: absolute;
    top: 475px;
    right: 23px;
}

.chk:after{
    content: "";
    display: block;
    clear: both;
}
.chk span{
    float: left;
    width: 93%;
    font-size: 0.8vw;
}
.chk span:last-child{
    float: none;
    font-size: 1vw;
    line-height: 1.2;
    display: block;
    width: auto;
    color: #000;
}

#submit_btn {
    width: 175px;
    height: 48px;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    color: #FFF;
    text-align: center;
    line-height: 0.7em;
    letter-spacing: .3px;
    position: absolute;
    top: 378px;
    left: 36px;
    /* background: #1c1a1b; */
    padding: 15px 0 2px 0;
    transition: .4s;
    border: 4px solid #ffffff;
}
#submit_btn:active, #submit_btn:hover { background:#231f20; }

/* --------------------------------  FOOTER  -------------------------------- */
#copyright { width:640px;; height:20px; margin:15px auto; }
#copyright #twisted { width:63px; height:14px; float:left; background:url('../images/twisted.png') no-repeat; margin:0 0 0 15px; }
